n8n-workflows/ready-to-import/05-auditoria-domingo.json
{
  "name": "Aura Decore · 05 · Auditoria semanal ECHO (domingo 20h)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        }
      },
      "id": "cron-sun-20h",
      "name": "Cron dom 20h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.RAILWAY_URL || 'https://web-production-f1cb5.up.railway.app' }}/shopify/metrics",
        "method": "GET"
      },
      "id": "fetch-kpis",
      "name": "Coleta KPIs Shopify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.RAILWAY_URL || 'https://web-production-f1cb5.up.railway.app' }}/store/status",
        "method": "GET"
      },
      "id": "fetch-health",
      "name": "Saúde das integrações",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.RAILWAY_URL || 'https://web-production-f1cb5.up.railway.app' }}/crew/run",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"crew_type\": \"audit\",\n  \"context\": \"KPIs: {{JSON.stringify($node['Coleta KPIs Shopify'].json)}}. Saúde: {{JSON.stringify($node['Saúde das integrações'].json)}}. Audite os 15 agentes (incluir SOL/ZARA/MIRA/PIPE no relatório).\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "run-audit-crew",
      "name": "Roda Crew Auditoria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.RAILWAY_URL || 'https://web-production-f1cb5.up.railway.app' }}/obsidian/log-metrics",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"audit_result\",\n  \"type\": \"weekly\",\n  \"metrics\": {\n    \"faturamento\": \"{{$node['Coleta KPIs Shopify'].json.metrics?.faturamento || '—'}}\",\n    \"score_crew\": \"{{$json.result?.slice(0, 300) || '—'}}\"\n  }\n}"
      },
      "id": "log-vault",
      "name": "Loga no vault",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Cron dom 20h": {
      "main": [
        [
          {
            "node": "Coleta KPIs Shopify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Saúde das integrações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coleta KPIs Shopify": {
      "main": [
        [
          {
            "node": "Roda Crew Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saúde das integrações": {
      "main": [
        [
          {
            "node": "Roda Crew Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roda Crew Auditoria": {
      "main": [
        [
          {
            "node": "Loga no vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "id": 5
}